body {
  width: 100%;
}

main {
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  background-color: var(--red);
  width: 100%;
  height: 50px;
  padding: auto;
}

h1 {
  font-size: 38px;
  height: min-content;
  margin: auto;
  letter-spacing: 8px;
}

footer {
  background-color: var(--red);
  width: 100%;
  height: 50px;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.footer-label {
  margin: auto;
}

#nav-title {
  color: var(--white);
  text-align: start;
  font-size: 32px;
  letter-spacing: 3px;
  width: 20%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-space1 {
  width: 65%;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  margin: 0px;
  height: 50px;
  border: 0px;
  color: var(--white);
  padding: 0;
  width: 6%;
}

#last-nav-button {
  margin-right: 10px;
}

.center-title-background {
  height: 25%;
  display: flex;
  justify-content: center;

}

.grid-container {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-template-rows: 283px;
  flex-wrap: wrap;
  padding-top: 2%;
}

.center {
  display: flex;
  justify-content: center;
  height: 75%;
  align-self: center;
}

@-moz-document url-prefix() {

  /* This may be an issues when you add more thant 10 items */
  .grid-container {
    overflow: hidden;
  }


}