body {
  width: 100%;
}

main {
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  background-color: var(--red);
  width: 100%;
  height: 3rem;
  padding: auto;
}

h1 {
  font-size: 2.5rem;
  height: min-content;
  margin: auto;
  letter-spacing: 8px;
}

footer {
  background-color: var(--red);
  width: 100%;
  height: 50px;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.footer-label {
  margin: auto;
}

.nav-title {
  color: var(--white);
  text-align: start;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  width: 20rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}


.center-title-background {
  height: 13.5rem;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(5, 1fr);
  overflow: wrap;
}

.center {
  display: flex;
  justify-content: center;
  height: 75%;
  align-self: center;
}

.navbar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}


@-moz-document url-prefix() {

  /* This may be an issues when you add more thant 10 items */
  .grid-container {
    overflow: hidden;
  }
}